.about {
  display: block;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  padding: 80px 104px;
  margin: 0 auto;
}

.about__header {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

.about__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
}

.star__image {
  /* display: flex;
  align-items: center;
  max-width: 300px;
  padding-top: 80px;
  padding-bottom: 61px; */
  display: block;
  height: 50px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .about__image {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .about__image {
    max-width: 262px;
    padding-top: 61px;
  }

  .about__header {
    font-size: 30px;
  }

  .about__description {
    max-width: 424px;
    margin-left: 32px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 540px) {
  .about {
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 128px;
  }

  .about__image {
    max-width: 100%;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .about__description {
    margin-left: 0;
    padding-top: 0;
    max-width: max-content;
  }
}
