.about {
  display: grid;
  gap: 56px;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 80px 104px;
  margin: 0 auto;
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 40px;
}

.about__header {
  color: rgb(211, 21, 21);
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__paragraph {
  color: rgb(211, 21, 21);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__image {
  /* max-width: 100%; */
  border-radius: 50%;
  width: 464px;
  height: 464px;
  /* border-radius: 100%;
  max-width: 464px;
  max-height: 464px;
  width: 30vw;
  height: 30vw; */
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 40px;
    gap: 32px;
  }

  .about__image {
    max-width: 300px;
    padding-top: 80px;
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 630px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about__image {
    max-width: 304px;
    justify-self: center;
  }

  .about__header {
    font-size: 30px;
  }

  .about__description {
    max-width: 424px;
    margin-left: 32px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    gap: 16px;
    padding: 24px 16px 128px;
  }

  .about__image {
    max-width: 100%;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .about__description {
    margin-left: 0;
    padding-top: 0;
    max-width: max-content;
  }
}
