.search-form {
  background-image: url("../../images/background1.png");
  background-position: center;
  background-size: cover;
  margin: 0;
  margin-top: -100px;
  height: 80vh;
  overflow: auto;
}

.search-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 160px auto 80px auto;
}

.search-form__title {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px 0;
  text-align: left;
}

/* .search-form__search-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 608px;
  width: 100%;
} */

.search-form__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__input {
  border: none;
  border-radius: 32px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 25px;
  margin-right: 10px;
  height: 64px;
  width: 300px;
}

.search-form__input:focus {
  outline: 2px solid #e74c3c;
}

::placeholder {
  color: #b6bcbf;
}

.search-form__button {
  background-color: #ff3425;
  border: none;
  border-radius: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.4s ease;
  height: 66px;
  width: 150px;
}

.search-form__button:hover {
  background-color: #d52d20;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .search-form__container {
    max-width: 550px;
    margin: 120px auto 30px auto;
    width: 90%;
  }

  .search-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 550px;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    text-align: center;
  }

  .search-form__input {
    margin-bottom: 20px;
    max-width: 550px;
  }

  .search-form__button {
    /* margin-left: -160px; */
    margin-bottom: 20px;
    max-width: 550px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .search-form__container {
    max-width: 420px;
    width: 70%;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .search-form__input {
    height: 60px;
    max-width: 600px;
  }

  .search-form__button {
    margin-left: -145px;
    max-width: 448px;
  }
}

@media only screen and (max-width: 520px) {
  .search-form__container {
    margin: 120px auto 48px auto;
    max-width: 468px;
    width: 90%;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .search-form__search-container {
    align-items: center;
    flex-direction: column;
  }

  .search-form__input {
    height: 56px;
    margin-bottom: 16px;
  }

  .search-form__button {
    height: 56px;
    margin-left: 0;
    width: 100%;
  }
}
