.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.header__links {
  display: flex;
  justify-content: space-between;
}

.header__links-list {
  margin-right: 60px;
}

.header__links-item {
  color: #b6bcbf;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  padding: 26px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.header__links-item_hidden {
  display: none;
}

.header__links-item:hover {
  opacity: 0.5;
}

.header__links-item_selected {
  color: #ffffff;
  border-bottom: 3px solid white;
}

.header__hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    background-color: #333;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    width: 100vw;
  }

  .header__mobile {
    background: #1a1b22;
  }

  .header__links {
    background: rgb(26, 27, 34);
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    height: 286px;
    line-height: 56px;
    padding: 0;
    position: fixed;
    width: 100vw;
    z-index: 5;
  }

  .header__logo {
    font-size: 17px;
    display: block;
    padding: 14px 0px;
    margin-left: 16px;
    margin-bottom: 24px;
  }

  .header__links-item {
    display: block;
    font-size: 17px;
    margin-left: 16px;
    margin-bottom: 24px;
    padding: 14px 0px;
  }

  .header__hamburger {
    border: 0;
    display: block;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
  }

  .header__button-open {
    background-image: url("../../images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(196, 196, 196, 0.01);
  }

  .header__button-close {
    background-image: url("../../images/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(196, 196, 196, 0.01);
  }

  .header__logo {
    margin: 16px;
  }

  .header__links-item_selected {
    color: #ffffff;
    border-bottom: none;
  }

  .header__links-hidden {
    display: none;
  }

  .header__links-open {
    display: block;
  }
}
