@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  position: relative;
}
